{% extends "portfolio/portfolio_base.html" %}
{% load markdownify %}
{% block content %}
<div class="container-fluid project-desc-container">


    <h1 class="page-heading">{{object.title}}</h1>

    {% if object.website or object.github %}
        <h2>External Links  </h2>
    {% endif %}

  
    {% if object.github%}
        <p><Strong><i class="lab la-github"></i>Github Repo: </Strong> <a href="{{object.website}}">{{object.github}}</a></p>
    {% endif %}

    {% if object.website%}
        <p><Strong><i class="las la-external-link-square-alt"></i>Live website: </Strong> <a href="{{object.website}}">{{object.website}}</a></p> 
    {% endif %}


    {{object.description|markdownify}}


</div>




{% endblock %}
